html,
body {
  position: relative;
  height: 100%;
}

body {
  background: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
h1{
    color: white;
    position: absolute;
    left: 22%;
    top: 27%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/*.setting-hide {
    display: none
}*/

#s1 {
    background-color: transparent;
}
#s2 {
    background-color: transparent;
}
#s3{
    background-color: aquamarine;
}
.page{
    overflow: hidden;
}
#Frame_ClockRound{
    position: absolute;
    zoom:0.7;
    left: 80px;
    top: 80px;
}
#Frame_Weather5Day {
    position: absolute;
    zoom: 1.1;
    right: 40px;
    top: 80px;
}
#Div_ClockDate {
    position: absolute;
    display: block;
    zoom:0.8;
    left: 90px;
    top: 700px;
    color: white;
    width: 600px;
    height: 500px;
    text-align:center;
    vertical-align:bottom;
}
#time_is_link {
    color: white;
    text-decoration: none;
}
#Frame_USDCNY{
    position:absolute;
    height:300px;
    width:95%;
    vertical-align:bottom;
    top:400px;
}
#Frame_AUDCNY {
    position: absolute;
    height: 300px;
    width: 95%;
    vertical-align: top;
    bottom: 400px;
}
.tradingview-widget-container {
    zoom: 0.6;
}
#boc_aud_container {
    position: absolute;
    color: white;
    z-index: 10;
    left:auto;
    right:40px;
    bottom:auto;
    top:40px;
    width:300px;
    height:300px;
}
#div_boc_aud {
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    top: 0;
    /*    color:white;
    vertical-align:top;
    bottom:670px;
    left:980px;*/
}
#div_boc_aud_rate {
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    top: 20px;
    font-size: 48px;
}
#div_boc_aud_rate_time {
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    top: 68px;
    font-size:12px;
    color:gray;
}
#boc_usd_container {
    position: absolute;
    color: white;
    z-index: 10;
    left: auto;
    right: 40px;
    bottom: auto;
    top: 390px;
    width: 300px;
    height: 300px;
}
#div_boc_usd {
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    top: 0;
}
#div_boc_usd_rate {
    position: absolute;
    font-size: 48px;
    left: auto;
    right: 0;
    bottom: auto;
    top: 20px;
}
#div_boc_usd_rate_time {
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    top: 68px;
    font-size: 12px;
    color: gray;
}